/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2b2400;
	--sl-color-accent: #7b6900;
	--sl-color-accent-high: #FDDA0D;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #181818;
}

.button {
  background: var(--sl-color-text-accent) !important;
  color: var(--sl-color-black) !important;
  font-size: var(--sl-text-base);
  padding: 1rem 1.25rem;
  gap: 0.5em;
  align-items: center;
  border-radius: 999rem;
  line-height: 1.1875;
  text-decoration: none;
  display: inline-flex;
  margin-top: 1rem;
}
